{% extends '@TodoList/base.html.twig' %}

{% block title %}список задач {{ taskList.title }}{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1><small>{{ taskList.title }}</small></h1>
            </div>
            {% if tasks | length > 0 %}
                <div class="tasks">
                    <ol>
                    {% for task in tasks %}
                        <li class="well">
                            <div class="col-xs-12 col-md-3">
                                <a href="{{ path('todo.task.show', { 'listId' : taskList.id, 'taskId' : task.id }) }}">{{ task.title }}</a>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <p>{{ task.description }}</p>
                            </div>
                            {% include '@TodoList/partials/Task/controls.html.twig' %}
                        </li>
                    {% endfor %}
                    </ol>
                </div>
            {% else %}
                <div class="col-xs-12">
                    <span class="alert alert-danger">Задач нет</span>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}